
/*CSS Reset*/
* {
	margin: o;
	padding: 0;
	box-sizing: border-box;
}
/* targets the html element body */
body {
	/*background-color: black;*/
	/*background-image: url("../images/bg.jpg");*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(164, 151, 140, 0.6)), url("../images/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
}
/* end of body styling */


/*div {*/
	/*text-align: center;*/
	/*align: center;*/
	/*width: 500px;*/
	/*color: #98ACB1;*/
	/*background-color: #000000;*/
	/*margin-top: 30px;*/
/*}*/



/* targets h1 element */
h1 {
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	color: #947158;
	background-color:#A4978C;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin: 10px;
	padding: 10px;
}
/* end h1 element */

/* targets h2 element */
h2 {
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #A4978C;
	text-transform: uppercase;
	margin-bottom: 15px;
	margin: 10px; /*margin adds space outside of the element*/
	padding: 10px; /* margin adds space inside of the element*/
	background-color:#947158;
	letter-spacing: 5px;
	border-radius: 10px;
}
/* end h2 element */

/* targets bio styling */
.bio {
	font-size: 16px;
	font-family: 'Lora', serif;
	/*background-color: rgba(51,51,51, 0.7);*/
	line-height: 1.50;
	color: #fff;
}
/* ends bio styling */

/* targets the element with id me */
#me {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	border-style: solid;
	border-color: #fff;
	border-width: 5px;
	margin-top: 50px;
	margin-bottom: 20px;
}

/* end of id me */

.container {
	width: 550px;
	text-align: center;
	margin: 0 auto; /* this will center the element horizontally */
}